<div class="col-md-6 offset-md-3">
    <h3>Booking</h3>
    <a routerLink="/login" routerLinkActive="active" class="nav-link">Back</a>
    <form (ngSubmit)="onSubmit()">
        <!-- <div>
        <table class="table table-striped">
        <tr *ngFor="let train of trains">
            <td>{{Train.trainId}}</td>
            <td>{{Train.trainName}}</td>
        </tr>
        </table>
        </div> -->
        <div class="form-group">
            <label>Passenger Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="reservation.name" name="name">
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="reservation.email" name="email">
        </div>
        <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" id="number" [(ngModel)]="reservation.number" name="number">
        </div>
        <br>

        <!-- <button class="btn btn-success" type="submit" href='http://localhost:8088/payments'>Proceed</button> -->
        <a class="btn btn-info" href="http://localhost:8088/payments">Book</a>
    </form>
    </div>