<!-- <mat-toolbar color="white" class="mat-elevation-z8">

    <h1>Railway Reservation System</h1>
  
  
  
    <div class="space"></div>
  
       <a mat-button routerLink="/home" routerLinkActive="router-link-active" >Home</a>
  
       <a mat-button routerLink="/train" routerLinkActive="router-link-active" >Search</a>
  
  
       <div class="dropdown">
  
        <button class="dropbtn">Log In</button>
  
        <div class="dropdown-content">
  
          <a routerLink="/adminlogin" routerLinkActive="router-link-active">Admin</a>
  
          <a routerLink="/user" routerLinkActive="router-link-active">User</a>

  
        </div>
  
      </div>
  
  </mat-toolbar> -->
<router-outlet></router-outlet>