<div class="bg-img">

    <form class="container">
      <h1>User Login</h1>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required><br>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <a class="button" mat-raised-button color="accent" href="login">Log In</a>
      <br><br>
      <a class="button" mat-raised-button color="accent" href="register">Register</a>
  
      <!-- <button type="submit" href= "http://localhost:4200/train" class="btn">Login</button> -->
      <!-- <button type="submit" class="btn">Register</button> -->
    </form>
  </div>